@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: 0 7% 98%;
  --foreground: 0 5% 10%;
  --card: 0 7% 98%;
  --card-foreground: 0 5% 15%;
  --popover: 0 7% 98%;
  --popover-foreground: 0 95% 10%;
  --primary: 0 82.6% 70.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -38 10% 95%;
  --muted-foreground: 0 5% 40%;
  --accent: -38 10% 90%;
  --accent-foreground: 0 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 0 5% 98%;
  --border: 0 20% 82%;
  --input: 0 20% 50%;
  --ring: 0 82.6% 70.8%;
  --radius: 1rem;
}
.dark {
  --background: 0 10% 10%;
  --foreground: 0 5% 98%;
  --card: 0 7% 10%;
  --card-foreground: 0 5% 98%;
  --popover: 0 10% 5%;
  --popover-foreground: 0 5% 98%;
  --primary: 0 82.6% 70.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: -38 10% 25%;
  --muted-foreground: 0 5% 65%;
  --accent: -38 10% 25%;
  --accent-foreground: 0 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 0 5% 98%;
  --border: 0 20% 50%;
  --input: 0 20% 50%;
  --ring: 0 82.6% 70.8%;
  --radius: 1rem;
}

.brand-light-blue {
  color: #38bdf2;
}

.brand-orange {
  color: #f27777;
}

.brand-light-gray {
  color: #d9d9d9;
}

.brand-medium-gray {
  color: #595959;
}

.brand-dark {
  color: #0d0d0d;
}

.font-pixelated {
  font-family: var(--font-jersey-15);
}

.editorWrapper .mdxeditor-toolbar {
  @apply bg-primary rounded-b-none rounded-t-md relative;
}
.editorWrapper .mdxeditor-toolbar svg {
  @apply text-[#0d0d0d] dark:text-white;
}

.dark .editorWrapper .mdxeditor [contenteditable="true"] {
  caret-color: white;
  color: white;
}
